.calculator {
    width: 633px;
    height: 322px;
    border: 2px solid #ebebeb;
    border-radius: 10px;
    padding: 10px;
    margin: 100px auto 0;
    text-align: center;
    background-color: #ffffff;

}
.calculator__row {
    margin: 0	;
    display: flex;
    justify-content: space-between;
}

.calculator__display {
    margin: 12px 6px;
    width: 100%;
    height: 70px;
    border: 2px solid #ebebeb;
    text-align: right;
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    padding-right: 10px;
}
.calculator__display:hover {
    border: 2px solid #c3c2c2;
}
.memory {
    font-size: 20px;
    width: 100%;
    height: 30px;
}


.calculator__key {
	font-size: 14px;
    width: 78px;
    height: 36px;
    margin: 4px 4px;
    cursor: pointer;
    border: 1px solid #edf5ed;
    transition: all .2s;
    border-radius: 8px;
    background-color: #dfe1e5;

}
.calculator__key:hover {
    background-color: #d7d9dd;
    border-color: #d7d9dd;
}

.calculator__button {
    background: #f1f3f4;
}
.calculator__equally {
    background-color: #4285f4;
    color: #fff;
    font-size: 18px;
}
.calculator__equally:hover{
    background-color: #4d8bf1;
}